
{{> menu id="about"}}

<section class="ui left aligned middle aligned segment"><div class="ui centered card">
  <div class="image">
    <img src = "{{emp.image}}" class = "about image">
  </div>
  <div class="content">
    <a class="header">{{emp.fullname}} </a>
    <div class="meta">
      <span class="date">Joined in 2026  </span>
    </div>
    <div class="description">
        is an employee living in Ireland .
    </div>
  </div>
  <div class="extra content">
    <a>
      <i class="user icon"></i>
        contacts John, Ana, Bob.
    </a>
  </div>
</div>
</section>
